@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;    
    line-height: 24px;
}




/*----------------
#CONTAINERS
----------------*/



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px dotted red;
}

.container {
    width: 1290px;
    min-height: 560px;
    border: 1px dotted blue;


}



.bookshelf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.cta-container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 560px;
    column-gap: 30px;
    background: #F9F1FA;
    align-items: center;
    justify-content: center;
    
}

.faq-container {
    background: #F2F2F2;
}

footer {
    background: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    padding: 0px 30px;
}

.hero-container {
    background: url(/images/heroBG.png);
}


.testbook {
    width: 190px;
    height: 310px;
    background: blue;

}

/*----------------
#HEADINGS AND 
TYPOGRAPHY
----------------*/

/* font family specified in body, it's Roboto! */

h1 {
    size: 36px;
    font-weight: bold;
    line-height: 36px;
}

h2 {
    size: 28px;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
} 



/*----------------
#HEADER STYLING
----------------*/


.book__list {

}

.company {

}

.header__logo {
        display: flex;  
        align-items: center;
}

.header__search {
display: flex;
align-items: center;
}

.header__search_searchbar {

}


nav {
    display: flex;  
    align-items: center;
}



/*----------------
#FOOTER STYLING
----------------*/



/*----------------
#IMAGES
----------------*/

#cta-image {
    grid-column-start: 7;
    grid-column-end: 12;
}





/*-----------------
TEXT ELEMENTS
-----------------*/

.cta-text {
    grid-column-start: 3;
    grid-column-end: 4;
}





/*-----------------
SCROLLING 
BOOKSHELF &
BOOKS
-----------------*/



.book {
    display: inline-block;
    margin-right: 30px;
}

.bookshelf {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
        
}

.bookshelf::webkit-scrollbar {
    display: none;
}

.book__author {
    
}

.book__image {

}

.book__score {


}

.book__title {

}





/*-----------------
RESIZING FOR MOBILE
-----------------*/
@media screen and (max-width: 761px) {

    .container {
        width: 100vw;
        max-width: 100vw;
        min-height: 560px;
        border: 1px dotted blue;
    
    
    }

    .cta-container {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100vw;
        column-gap: 30px;
        background: #F9F1FA;
        align-items: center;
        justify-content: center;
        
    }
    #cta-image {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    #cta-image img {
        max-width: 312px ;
    }

    
}

