@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




/*----------------
#CONTAINERS
----------------*/



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: 1290px;
    min-height: 560px;
    border: 1px dotted blue;


}

.bookshelf {
    width: 1290px;
    display: flex;
    flex-direction: row;
    align-content: center;

}

.bookshelf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.cta-container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 560px;
    column-gap: 30px;
    background: #F9F1FA;
    align-items: center;
    justify-content: center;
    
}

.faq-container {
    background: #F2F2F2;
}

footer {
    background: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0px 30px;
}

.hero-container {
    background: url(/images/heroBG.png);
}


.testbook {
    width: 190px;
    height: 310px;
    background: blue;

}

/*----------------
#HEADINGS AND 
TYPOGRAPHY
----------------*/

 



/*----------------
#HEADER STYLING
----------------*/





/*----------------
#FOOTER STYLING
----------------*/



/*----------------
#IMAGES
----------------*/

#cta-image {
    grid-column-start: 7;
    grid-column-end: 12;
}





/*-----------------
TEXT ELEMENTS
-----------------*/

.cta-text {
    grid-column-start: 3;
    grid-column-end: 4;
}





/*-----------------
SCROLLING 
BOOKSHELF 
-----------------*/

.bookshelf {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}

.testbook {
display: inline-block;
margin-right: 30px;
}
