@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




/*----------------
#CONTAINERS
----------------*/



main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    min-width: 100%;
    min-height: 560px;
    border: 1px dotted blue;
}

.bookshelf {
    width: 1290px;
    display: flex;
    flex-direction: row;
    align-content: center;

}

.bookshelf-container {

    display: flex;
    flex-direction: column;
    align-content: center; 
    align-items:center 
}



.cta-container {
    background: #F9F1FA;
}

.faq-container {
    background: #F2F2F2;
}

footer {
    background: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0px 30px;
}

.hero-container {
    background: url(/images/heroBG.jpg);
}


.testbook {
    width: 190px;
    height: 310px;
    background: blue;

}

/*----------------
#HEADINGS
----------------*/





/*----------------
#TYPOGRAPHY
----------------*/





/*----------------
#MISC
----------------*/



